<div class="container">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3 xl6 offset-xl3">
      <div class="card" style="height: auto; width: 100%; padding: 25px; padding-bottom: 50px; margin-top: 50px">
        <%= form_with(model: user, local: true, id: "user-form") do |form| %>
            <div class="input-field">
                <%= label :email, "Email", for: 'user_email' %>
                <%= form.text_field :email, id: :user_email %>
            </div>

            <div class="input-field">
                <%= label :password, "Password", for: 'user_password' %>
                <%= form.password_field :password, id: :user_password %>
            </div>

            <div class="input-field">
                <%= label :password_confirmation, "Repeat password", for: 'user_password_confirmation' %>
                <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
            </div>

            <div class="input-field">
                <%= label :name, "Name", for: 'user_name' %>
                <%= form.text_field :name, id: :user_name %>
            </div>

            <div class="input-field">
                <%= label :surname, "Surname", for: 'user_surname' %>
                <%= form.text_field :surname, id: :user_surname %>
            </div>

            <% if user.errors.any? %>
                <p class="alert header" style="color: red">Fill required fields!</p>
            <% end %>
                <div class="col s12 m12 l3 offset-l9">
                    <%= form.submit("Confirm", class: "link btn green accent-3", style: "width: 100%") %>
                </div>
        <% end %>
      </div>
    </div>
  </div>
</div>