<h2>ESTATUTO DA COOPERATIVA <%= "" + @answears[1] if @answears[1] %></h2><br>
<h3 style="text-align: center">CAPÍTULO I</h3>
<h4 style="text-align: center">DA DENOMINAÇÃO, SEDE, FORO, PRAZO DE DURAÇÃO, ÁREA DE AÇÃO E ANO SOCIAL</h4><br>
<p><b>Art. 1º. </b>A Cooperativa <%= @answears[1] if @answears[1] %>, constituída no dia <%= @answears[2] if @answears[2] %>, rege-se pelos valores e princípios do cooperativismo, pelas disposições legais, pelas diretrizes da autogestão e por este Estatuto, tendo:</p>
<p><b>a)</b>&emsp;sede administrativa em <%= @answears[3] if @answears[3] %>, Estado de <%= @answears[4] if @answears[4] %>, na <%= @answears[5] if @answears[5] %> foro jurídico na Comarca de <%= @answears[6] if @answears[6] %>, Estado de <%= @answears[4] if @answears[4] %>;</p>
<p><b>b)</b>&emsp;área de admissão de cooperados, abrangendo o município de <%= @answears[31] if @answears[31] %> e região, podendo atuar em todo o território nacional;</p>
<p><b>c)</b>&emsp;prazo de duração indeterminado e ano social compreendido no período de 1° de janeiro a 31 de dezembro de cada ano.</p>
<p><b>Parágrafo Único: A cooperativa somente poderá entrar em funcionamento após o registro na OCEMG, conforme determinação do art. 6º, inciso XI da Lei Estadual 15.075/04”;</b></p><br>
<h3 style="text-align: center">CAPÍTULO II</h3>
<h4 style="text-align: center">DO OBJETO SOCIAL</h4><br>
<p><b>Art. 2º. </b>A Cooperativa, com base na colaboração recíproca a que se obrigam seus cooperados, tem por objeto social <%= @answears[7] if @answears[7] %>.</p><br>
<h3 style="text-align: center">CAPÍTULO III</h3>
<h4 style="text-align: center">DOS COOPERADOS</h4><br>
<p><b>a) ADMISSÃO, DEVERES, DIREITOS E RESPONSABILIDADES</b></p><br>
<p><b>Art. 3º. </b>Poderá associar-se à Cooperativa, salvo se houver impossibilidade técnica de prestação de serviços, qualquer pessoa que se dedique à atividade objeto desta sociedade, dentro da área de admissão da Cooperativa, podendo dispor livremente de si e de seus bens, sem prejudicar os interesses e objetivos da Cooperativa, nem colidir com os mesmos.</p>
<p><b>Parágrafo único. </b>O número de cooperados não terá limite quanto ao máximo, mas não poderá ser inferior a 20 (vinte) pessoas físicas.</p>
<p><b>Art. 4º. </b>Para associar-se, o interessado preencherá a Ficha de Matrícula, com a assinatura dele e de mais duas testemunhas, bem como a declaração de que optou livremente por associar-se, conforme normas constantes do Estatuto Social da Cooperativa.</p>
<p><b>§ 1º. </b>O interessado deverá freqüentar, com aproveitamento, um curso básico de cooperativismo, que será ministrado pela Cooperativa ou outra entidade.</p>
<p><b>§ 2º. </b>Concluído o curso, a Diretoria analisará a proposta de admissão e, se for o caso, a deferirá, devendo então o interessado subscrever quotas-parte do capital, nos termos deste Estatuto, e assinar o Livro de Matrícula.</p>
<p><b>§ 3º. </b>A subscrição das quotas-parte do Capital Social e a assinatura no Livro de Matrícula complementam a sua admissão na Cooperativa.</p>
<p><b>Art. 5º. </b>Poderão ingressar na Cooperativa, excepcionalmente, pessoas jurídicas que satisfaçam as condições estabelecidas neste Estatuto.</p>
<p><b>Parágrafo único. </b>A representação da pessoa jurídica junto à Cooperativa se fará por meio de pessoa natural especialmente designada, mediante instrumento específico que, nos casos em que houver mais de um representante, identificará os poderes de cada um.</p>
<p><b>Art. 6º. </b>Cumprido o que dispõe o art. 4º do Estatuto Social, o cooperado adquire todos os direitos e assume todos os deveres decorrentes da lei, deste Estatuto e das deliberações tomadas pela Cooperativa.</p>
<p><b>Art. 7º. </b>São direitos do cooperado:</p>
<p><b>a)</b>&emsp;participar das Assembléias Gerais, discutindo e votando os assuntos que nela forem tratados;</p>
<p><b>b)</b>&emsp;propor à Diretoria, ao Conselho Fiscal ou às Assembléias Gerais, medidas de interesse da Cooperativa;</p>
<p><b>c)</b>&emsp;solicitar a sua demissão da Cooperativa quando lhe convier;</p>
<p><b>d)</b>&emsp;solicitar informações sobre seus débitos e créditos;</p>
<p><b>e)</b>&emsp;solicitar informações sobre as atividades da Cooperativa, e, a partir da data de publicação do Edital de Convocação da Assembléia Geral Ordinária, consultar os livros e peças do Balanço Geral, que devem estar à disposição do cooperado na sede da Cooperativa.</p>
<p><b>§ 1º. </b>A fim de serem apreciadas pela Assembléia Geral, as propostas dos cooperados, referidas na alínea “b” deste artigo, deverão ser apresentadas à Diretoria com a antecedência mínima de 30 (trinta) dias e constar do respectivo Edital de Convocação.</p>
<p><b>§ 2º. </b>As propostas subscritas por pelo menos 1/5 (um quinto) dos cooperados, serão obrigatoriamente levadas pela Diretoria à Assembléia Geral, e, não o sendo, no prazo de 30 (trinta) dias, poderão ser apresentadas diretamente pelos cooperados proponentes.</p>
<p><b>Art. 8º. </b>São deveres do cooperado:</p>
<p><b>a)</b>&emsp;subscrever e integralizar as quotas parte do capital nos termos deste Estatuto e contribuir com as taxas de serviço e encargos operacionais que forem estabelecidos;</p>
<p><b>b)</b>&emsp;cumprir com as disposições da lei, do Estatuto, bem como respeitar as resoluções tomadas pela Diretoria e as deliberações das Assembléias Gerais;</p>
<p><b>c)</b>&emsp;satisfazer pontualmente seus compromissos com a Cooperativa, dentre os quais o de participar ativamente da sua vida societária e empresarial;</p>
<p><b>d)</b>&emsp;realizar com a Cooperativa as operações econômicas que constituam sua finalidade;</p>
<p><b>e)</b>&emsp;prestar à Cooperativa informações relacionadas com as atividades que lhe facultaram se associar;</p>
<p><b>f)</b>&emsp;cobrir as perdas do exercício, quando houver, proporcionalmente às operações que realizou com a Cooperativa, se o Fundo de Reserva não for suficiente para cobri-las;</p>
<p><b>g)</b>&emsp;prestar à Cooperativa esclarecimentos sobre as suas atividades;</p>
<p><b>h)</b>&emsp;manter atualizado junto à Cooperativa todos os seus dados cadastrais solicitados na ficha de matrícula; tais como o endereço completo, estado civil (inclusive no caso de existência união estável, ou  alteração no regime de bens caso seja casado), telefone.</p>
<p><b>i)</b>&emsp;levar ao conhecimento da Diretoria ou do Conselho Fiscal a existência de qualquer irregularidade que atente contra a lei, o Estatuto;</p>
<p><b>j)</b>&emsp;zelar pelo patrimônio material e moral da Cooperativa.</p>
<p><b>Art. 9º. </b>O cooperado responde subsidiariamente pelos compromissos da Cooperativa até o valor do capital por ele subscrito e o montante das perdas que lhe couber, guardada a proporção de sua participação nas mesmas operações.</p>
<p><b>Art. 10. </b>Os herdeiros do cooperado falecido têm direito ao capital integralizado e demais créditos pertencentes ao de cujus.</p><br>
<p><b>b) DEMISSÃO, ELIMINAÇÃO E EXCLUSÃO</b></p><br>
<p><b>Art. 11. </b>A demissão do cooperado dar-se-á a seu pedido, formalmente dirigido à Diretoria da Cooperativa, e não poderá ser negado.</p>
<p><b>Art. 12. </b>A eliminação do cooperado será dada em virtude de infração de lei, deste Estatuto Social, após duas advertências escritas. </p>
<p><b>§ 1º. </b>A Diretoria poderá eliminar o cooperado que:</p>
<p><b>a)</b>&emsp;manter qualquer atividade que conflite com o objeto social da Cooperativa;</p>
<p><b>b)</b>&emsp;deixar de cumprir as obrigações por ele contratadas na Cooperativa;</p>
<p><b>c)</b>&emsp;deixar de realizar com a Cooperativa as operações que constituem seu objeto social.</p>
<p><b>§ 2º.  </b>No caso do disposto na alínea “c” do parágrafo primeiro deste artigo, o cooperado que deixar  por vontade própria, de realizar junto a cooperativa a prestação de serviços que constituem seu objeto social por mais de 60 (sessenta) dias consecutivos ou 120 (cento e vinte) dias intercalados num período de 02 (dois) anos, será automaticamente eliminado.</p>
<p><b>§ 3º.  </b>Cópia autêntica da decisão da eliminação será remetida ao cooperado, por processo que comprove as datas da remessa e do recebimento.</p>
<p><b>§ 4º.  </b>Se a correspondência, referida no parágrafo anterior retornar mais de 03 vezes à cooperativa sem que haja a ciência pelo cooperado eliminado, a referida comunicação poderá ser feita por publicação em jornal que abranja a área de admissão de cooperados.</p>
<p><b>§ 5º. </b>O cooperado eliminado poderá, dentro do prazo de 30 (trinta) dias a contar da data do recebimento da notificação, interpor recurso que terá efeito suspensivo até a primeira Assembléia Geral. </p>
<p><b>§ 6º. </b>No caso do parágrafo quarto deste artigo, o prazo de 30 (trinta) dias para recurso à Assembléia Geral pelo cooperado eliminado iniciará no dia da publicação em jornal da referida eliminação.</p>
<p><b>Art. 13. </b>A exclusão do cooperado será feita:</p>
<p><b>a)</b>&emsp;por dissolução da pessoa jurídica;</p>
<p><b>b)</b>&emsp;por morte da pessoa física;</p>
<p><b>c)</b>&emsp;por incapacidade civil não suprida;</p>
<p><b>d)</b>&emsp;por deixar de atender aos requisitos estatutários de ingresso ou permanência na Cooperativa.</p>
<p><b>Art. 14. </b>O ato de exclusão do cooperado, nos termos da alínea “d” do artigo anterior, será efetivado por decisão da Diretoria, mediante termo firmado pelo Presidente na Ficha de Matrícula, devendo ser aplicado o disposto nos parágrafos terceiro, quarto, quinto e sexto do artigo 12 deste estatuto.</p>
<p><b>Art. 15. </b>Em qualquer caso de demissão, eliminação ou exclusão, o cooperado só terá direito à restituição do capital que integralizou, devidamente corrigido, das sobras e de outros créditos que lhe tiverem sido registrados, não lhe cabendo nenhum outro direito.</p>
<p><b>§ 1º. </b>A restituição de que trata este artigo somente poderá ser exigido depois de aprovado, pela Assembléia Geral, o Balanço do exercício em que o cooperado tenha sido desligado da Cooperativa.</p>
<p><b>§ 2º. </b>A Diretoria da Cooperativa poderá determinar que a restituição do capital integralizado pelo cooperado seja feita em até 10 (dez) parcelas, a partir do exercício financeiro posterior ao em que se deu o desligamento.</p>
<p><b>§ 3º. </b>No caso de morte do cooperado, a restituição de que trata o parágrafo anterior será efetuada aos herdeiros legais em uma só parcela, mediante a apresentação do respectivo formal de partilha ou alvará judicial.</p>
<p><b>§ 4º. </b>Ocorrendo demissões, eliminações ou exclusões de cooperados em número tal que as restituições das importâncias referidas neste artigo possam ameaçar a estabilidade econômico-financeira da Cooperativa, esta poderá restituí-las mediante critérios que resguardem a sua continuidade.</p>
<p><b>§ 5º. </b>No caso de readmissão do cooperado, ele deverá integralizar as quotas-parte de capital social de acordo com as disposições previstas no Estatuto vigente à época.</p>
<p><b>Art. 16. </b>Os atos de demissão, eliminação ou exclusão acarretam o vencimento e pronta exigibilidade das dívidas do cooperado com a Cooperativa, sobre cuja liquidação caberá à Diretoria decidir.</p>
<p><b>Art. 17. </b>Os deveres de cooperados demitidos, eliminados ou excluídos perduram até a data da Assembléia Geral que aprovar o balanço de contas do exercício em que ocorreu o desligamento.</p><br>
<h3 style="text-align: center">CAPÍTULO IV</h3>
<h4 style="text-align: center">DO CAPITAL</h4><br>
<p><b>Art. 18. </b>O capital da Cooperativa, representado por quotas-parte, não terá limite quanto ao máximo e variará conforme o número de quotas parte subscritas, mas não poderá ser inferior a R$ <%= @answears[8] if @answears[8] %> (<%= @answears[81] if @answears[81] %>).</p>
<p><b>§ 1º. </b>O capital é subdividido em quotas parte no valor de R$ <%= @answears[9] if @answears[9] %> (<%= @answears[91] if @answears[91] %>) cada uma.</p>
<p><b>§ 2º. </b>A quotas-parte é indivisível, intransferível a não cooperados, não podendo ser negociada de modo algum, nem dada em garantia, e sua subscrição, integralização, transferência ou restituição será sempre escriturada no Livro de Matrícula.</p>
<p><b>§ 3º. </b>A transferência de quotas parte entre cooperados, total ou parcial, será escriturada no Livro de Matrícula mediante termo que contenha as assinaturas do cedente, do cessionário e do Presidente da Cooperativa.</p>
<p><b>§ 4º. </b>O cooperado deve integralizar as quotas-parte à vista ou caso a Diretoria aprove, em parcelas periódicas, devendo o referido órgão de administração estabelecer o número e dia de vencimento para pagamento das parcelas.</p>
<p><b>§ 5º. </b>Para efeito de integralização de quotas parte ou de aumento do capital social, a Cooperativa poderá receber bens, desde que avaliados previamente, e feita homologação da Assembléia Geral.</p>
<p><b>Art. 19. </b>O número de quotas parte do capital social a ser subscrito pelo cooperado, por ocasião de sua admissão não poderá ser inferior a <%= @answears[10]if @answears[10] %> (<%= @answears[101] if @answears[101] %>) quotas parte ou superior a 1/3 (um terço) do total subscrito.</p><br>
<h3 style="text-align: center">CAPÍTULO V</h3>
<h4 style="text-align: center">DA ASSEMBLÉIA GERAL</h4><br>
<p><b>a) DEFINIÇÃO E FUNCIONAMENTO</b></p><br>
<p><b>Art. 20. </b>A Assembléia Geral é o órgão supremo da Cooperativa, cabendo lhe tomar toda e qualquer decisão de interesse da entidade. Suas deliberações vinculam a todos, ainda que ausentes ou discordantes.</p>
<p><b>Art. 21. </b>A Assembléia Geral será habitualmente convocada e dirigida pelo Presidente. </p>
<p><b>§ 1º. </b>Poderá também ser convocada pela Diretoria, pelo Conselho Fiscal, ou ainda, após solicitação não atendida, por 1/5 (um quinto) dos cooperados em pleno gozo de seus direitos sociais.</p>
<p><b>§ 2º. </b>Não poderá votar na Assembléia Geral o cooperado que tenha sido admitido após a convocação.</p>
<p><b>Art. 22. </b>Em qualquer das hipóteses referidas no artigo 21, as Assembléias Gerais serão convocadas com antecedência mínima de <b>10 (dez) dias</b>, com o horário definido para as três convocações, sendo de uma hora o intervalo entre elas.</p>
<p><b>Art. 23. </b>O quorum para instalação da Assembléia Geral é o seguinte:</p>
<p><b>a)</b>&emsp;2/3 (dois terços) do número de cooperados em condições de votar, em primeira convocação;</p>
<p><b>b)</b>&emsp;metade mais um dos cooperados, em segunda convocação;</p>
<p><b>c)</b>&emsp;mínimo de 10 (dez) cooperados, em terceira convocação.</p>
<p><b>§1º. </b>Para efeito de verificação do quorum de que trata este artigo, o número de cooperados presentes, em cada convocação, será contado por suas assinaturas, seguidas do respectivo número de Matrícula, apostas no Livro de Presença.</p>
<p><b>§ 2º. </b>Constatada a existência de quorum no horário estabelecido no Edital de Convocação, o Presidente instalará a Assembléia, tendo encerrado o Livro de Presença mediante termo que contenha a declaração do número de cooperados presentes, da hora do encerramento e da convocação correspondente, fará transcrever estes dados para a respectiva ata.</p>
<p><b>Art. 24. </b>Não havendo quorum para instalação da Assembléia Geral, será feita nova convocação, com antecedência mínima de 10 (dez) <b>dias úteis.</b></p>
<p><b>Parágrafo único. </b>Se ainda assim não houver quorum para a sua instalação, será admitida a intenção de dissolver a Cooperativa.</p>
<p><b>Art. 25. </b>Dos editais de convocação das Assembléias Gerais deverão constar:</p>
<p><b>a)</b>a denominação da Cooperativa e o número de Cadastro Nacional de Pessoas Jurídicas - CNPJ, seguidas da expressão “Convocação da Assembléia Geral Ordinária ou Extraordinária”, conforme o caso;</p>
<p><b>b)</b>o dia e a hora da reunião, em cada convocação, assim como o local da sua realização, o qual, salvo motivo justificado, será o da sede social;</p>
<p><b>c)</b>a seqüência ordinal das convocações;</p>
<p><b>d)</b>a Ordem do Dia dos trabalhos, com as devidas especificações;</p>
<p><b>e)</b>o número de cooperados existentes na data de sua expedição para efeito do cálculo do quorum de instalação;</p>
<p><b>f)</b>data e assinatura do responsável pela convocação.</p>
<p><b>§ 1º. </b>No caso da convocação da Assembléia Geral ser feita por cooperados, o Edital será assinado, no mínimo, por 4(quatro) signatários do documento que a solicitou.</p>
<p><b>§ 2º. </b>Os Editais de Convocação serão afixados em locais visíveis das dependências geralmente freqüentadas pelos cooperados, publicados em jornal de circulação local ou regional, e comunicados aos cooperados por intermédio de circulares.</p>
<p><b>Art. 26. </b>É da competência das Assembléias Gerais Ordinárias ou Extraordinárias a destituição dos membros da Diretoria ou do Conselho Fiscal.</p>
<p><b>§ 1º. </b>Ocorrendo destituição ou renúncia que possa comprometer a regularidade da administração ou fiscalização da Cooperativa, os membros restantes dos órgãos de administração e fiscalização, em conjunto, designarão pessoas para ocuparem os cargos vagos, provisoriamente, pelo período máximo de 30 (trinta) dias.</p>
<p><b>§ 2º. </b>Nesse mesmo período deverá ser convocada uma Assembléia Geral para eleger novos administradores e/ou conselheiros fiscais, conforme o caso, cujo mandato será o equivalente ao tempo restante do mandato anterior.</p>
<p><b>Art. 27. </b>Os trabalhos das Assembléias Gerais serão dirigidos pelo Presidente, podendo ser auxiliado por um Secretário ad hoc, que deverá ser um cooperado em pleno gozo de seus direitos ou um empregado da cooperativa, escolhido na Assembléia Geral, podendo, também, ser convidados os ocupantes dos cargos sociais para compor a mesa.</p>
<p><b>Parágrafo Único. </b>Quando a Assembléia Geral não tiver sido convocada pelo Presidente, os trabalhos serão dirigidos por um cooperado escolhido na ocasião, e secretariado por outro, convidado por aquele, compondo a mesa dos trabalhos os principais interessados na sua convocação.</p>
<p><b>Art. 28. </b>Os ocupantes de cargos sociais, como quaisquer outros cooperados, não poderão votar nas decisões sobre assuntos que a eles se refiram direta ou indiretamente, dentre os quais os de prestação de contas, mas não ficarão privados de tomar parte nos respectivos debates.</p>
<p><b>Art. 29. </b>Nas Assembléias Gerais em que forem discutidos os balanços das contas, o Presidente da Cooperativa, logo após a leitura do Relatório da Diretoria, das peças contábeis e do parecer do Conselho Fiscal, solicitará ao plenário que indique um cooperado para coordenar os debates e a votação da matéria.</p>
<p><b>§ 1º. </b>Transmitida a direção dos trabalhos, o Presidente e demais Diretores e os Conselheiros Fiscais, deixarão a mesa, permanecendo no recinto, à disposição da Assembléia Geral para os esclarecimentos que lhes forem solicitados.</p>
<p><b>§ 2º. </b>O coordenador indicado escolherá, dentre os cooperados, um Secretário ad hoc para auxiliá-lo na redação das decisões a serem incluídas na ata pelo Secretário da Assembléia Geral.</p>
<p><b>Art. 30. </b>As deliberações das Assembléias Gerais somente poderão versar sobre assuntos constantes do Edital de Convocação e os que com eles tiverem imediata relação.</p>
<p><b>§ 1º. </b>Os assuntos que não constarem expressamente do Edital de Convocação e os que não satisfizerem as limitações deste artigo, somente poderão ser discutidos depois de esgotada a Ordem do Dia, sendo que sua votação, se a matéria for considerada objeto de decisão, será obrigatoriamente assunto para nova Assembléia Geral.</p>
<p><b>§ 2º. </b>Para a votação de qualquer assunto na Assembléia deverão ser averiguados os votos a favor, depois os votos contra, e por fim as abstenções. Caso o número de abstenções seja superior a 50% (cinqüenta por cento) dos presentes, deverá o assunto ser melhor esclarecido, antes de ser submetido à nova votação ou ser retirado da pauta, quando não for do interesse do quadro social.</p>
<p><b>Art. 31. </b>O que ocorrer na Assembléia Geral deverá constar de ata circunstanciada, lavrada no livro próprio, aprovada e assinada ao final dos trabalhos pelos administradores e fiscais presentes, e por uma comissão de 05 (cinco) cooperados designados pela Assembléia Geral.</p>
<p><b>Art. 32. </b>As deliberações nas Assembléias Gerais serão tomadas por maioria de votos dos cooperados presentes com direito de votar, tendo cada cooperado direito a 1 (um) só voto, qualquer que seja o número de suas quotas-parte.</p>
<p><b>§ 1º. </b>Em regra, a votação será a descoberto, mas a Assembléia Geral poderá optar pelo voto secreto.</p>
<p><b>§ 2º. </b>Caso o voto seja a descoberto, deve-se averiguar os votos a favor, os votos contra e as abstenções.</p>
<p><b>Art. 33. </b>Prescreve em 4 (quatro) anos a ação para anular as deliberações da Assembléia Geral viciadas de erro, dolo, fraude ou simulação, ou tomadas com violação de lei ou do Estatuto, contado o prazo da data em que a Assembléia Geral tiver sido realizada.</p><br>
<p><b>b) ASSEMBLÉIA GERAL ORDINÁRIA</b></p><br>
<p><b>Art. 34. </b>A Assembléia Geral Ordinária será realizada obrigatoriamente uma vez por ano, no decorrer dos 3 (três) primeiros meses após o término do exercício social, deliberará sobre os seguintes assuntos, que deverão constar da Ordem do Dia:</p>
<p><b>I </b>– prestação de contas dos Órgãos de Administração, acompanhada do Parecer do Conselho Fiscal, compreendendo:</p>
<div class="container">
    <p><b>&emsp;&emsp;a)</b>&emsp;Relatório da Gestão;</p>
    <p><b>&emsp;&emsp;b)</b>&emsp;Balanço Geral;</p>
    <p><b>&emsp;&emsp;c)</b>&emsp;Demonstrativo das sobras apuradas, ou das perdas, e Parecer do Conselho Fiscal;</p>
    <p><b>&emsp;&emsp;d)</b>&emsp;Plano de atividade da Cooperativa para o exercício seguinte.</p>
</div>
<p><b>II </b>– destinação das sobras apuradas ou o rateio das perdas, deduzindo se, no primeiro caso, as parcelas para os fundos obrigatórios;</p>
<p><b>III </b>– eleição e posse dos componentes da Diretoria, do Conselho Fiscal;</p>
<p><b>IV </b>– fixação dos honorários, gratificações e da cédula de presença para os componentes da Diretoria e do Conselho Fiscal;</p>
<p><b>V </b>– quaisquer assuntos de interesse social, excluídos os enumerados no artigo 36 deste Estatuto.</p>
<p><b>§ 1º. </b>Os membros dos órgãos de administração e fiscalização não poderão participar da votação das matérias referidas nos incisos I (excluída a alínea “d”) e IV deste artigo.</p>
<p><b>§ 2º. </b>A aprovação do relatório, balanço e contas dos órgãos de administração não desoneram seus componentes da responsabilidade por erro, dolo, fraude ou simulação, bem como por infração da lei ou deste Estatuto.</p><br>
<p><b>c) ASSEMBLÉIA GERAL EXTRAORDINÁRIA</b></p><br>
<p><b>Art. 35. </b>A Assembléia Geral Extraordinária realizar-se-á sempre que necessário, podendo deliberar sobre qualquer assunto de interesse da Cooperativa, desde que mencionado no Edital de Convocação.</p>
<p><b>Art. 36. </b>É da competência exclusiva da Assembléia Geral Extraordinária deliberar sobre os seguintes assuntos:</p>
<p><b>a)</b>&emsp;reforma do Estatuto;</p>
<p><b>b)</b>&emsp;fusão, incorporação ou desmembramento;</p>
<p><b>c)</b>&emsp;mudança de objeto da sociedade;</p>
<p><b>d)</b>&emsp;dissolução voluntária e nomeação de liquidantes;</p>
<p><b>e)</b>&emsp;contas do liquidante.</p>
<p><b>Parágrafo único. </b>São necessários os votos de 2/3 (dois terços) dos associados presentes, para tornar válidas as deliberações de que trata este artigo.</p><br>
<p><b>d) PROCESSO ELEITORAL</b></p><br>
<p><b>Art. 37. </b>Sempre que for prevista a ocorrência de eleições em Assembléia Geral, o Conselho Fiscal, com a antecedência, pelo menos, idêntica ao respectivo prazo da convocação, criará um Comitê Eleitoral, composto de 3 (três) membros, todos não candidatos a cargos eletivos na Cooperativa, para coordenar os trabalhos em geral, relativos à eleição dos membros da Diretoria, e do Conselho Fiscal.</p>
<p><b>§1º: </b>Logo após a designação dos membros que comporão o Comitê Eleitoral; estes deverão se reunir com a finalidade de elegerem qual membro será o Coordenador do referido comitê.</p>
<p><b>§2º: </b>O Coordenador a que se refere o parágrafo primeiro deste artigo, será o representante oficial do Comitê Eleitoral, lhe competindo a função de representar e proferir as decisões do citado Comitê.</p>
<p><b>Art. 38. </b>No exercício de suas funções, compete ao Comitê Eleitoral:</p>
<p><b>a)</b>&emsp;certificar se dos prazos de vencimentos dos mandatos dos membros da Diretoria e do Conselho Fiscal em exercício e do número de vagas existentes;</p>
<p><b>b)</b>&emsp;divulgar entre os cooperados, através de circulares e outros meios adequados, o número e a natureza das vagas a preencher;</p>
<p><b>c)</b>&emsp;registrar os nomes dos candidatos pela ordem de inscrição, verificando se estão no gozo de seus direitos sociais;</p>
<p><b>d)</b>&emsp;verificar, por ocasião da inscrição, se existem candidatos sujeitos as incompatibilidades previstas no art. 41 deste Estatuto, fazendo com que assinem declaração negativa a respeito;</p>
<p><b>e)</b>&emsp;organizar fichas contendo o currículo dos candidatos, nas quais constem, além da individualização e dados profissionais, as suas experiências e práticas cooperativistas, sua atuação e tempo de cooperado na Cooperativa e outros elementos que os distingam;</p>
<p><b>f)</b>&emsp;divulgar aos demais cooperados as informações constantes na alínea “e” deste artigo;</p>
<p><b>g)</b>&emsp;realizar consultas e promover entendimentos para a composição de chapas ou unificação de candidaturas, se for o caso;</p>
<p><b>h)</b>&emsp;estudar as impugnações, prévia ou posteriormente formuladas por cooperados no gozo de seus direitos sociais, bem como as denúncias de irregularidades nas eleições, encaminhando suas conclusões à Diretoria, para que sejam tomadas as providências legais cabíveis.</p>
<p><b>i)</b>&emsp;conduzir o processo eleitoral, coordenando os trabalhos de eleição, proclamação e posse dos eleitos, fiscalizando, também, o cumprimento do Estatuto Social e decisões de Assembléias Gerais;</p>
<p><b>j)</b>&emsp;tomar toda e qualquer decisão referente ao procedimento eleitoral, incluindo os casos omissos relativos a esse assunto.</p>
<p><b>§ 1º. </b>O Comitê Eleitoral fixará prazo para a inscrição dos candidatos, de modo que os nomes dos candidatos possam ser conhecidos e divulgados, no prazo mínimo de 5 (cinco) dias antes da Assembléia Geral em que serão procedidas às eleições.</p>
<p><b>§ 2º. </b>Não se apresentando candidatos ou havendo número insuficiente de candidatos, caberá ao Comitê Eleitoral proceder à seleção entre os interessados que atendam às condições exigidas, e que concordem com as normas e formalidades neste Estatuto.</p>
<p><b>Art. 39. </b>O Presidente da Assembléia Geral suspenderá o trabalho desta para que o Coordenador do Comitê Eleitoral dirija o processo das eleições e a proclamação dos eleitos.</p>
<p><b>§ 1º. </b>O transcurso das eleições e os nomes dos eleitos constarão da ata da Assembléia Geral.</p>
<p><b>§ 2º. </b>Os eleitos para suprirem vacância na Diretoria ou no Conselho Fiscal exercerão os cargos somente até o final do mandato dos respectivos antecessores.</p>
<p><b>§ 3º. </b>A posse ocorrerá sempre na Assembléia Geral em que se realizarem as eleições depois de encerrada a Ordem do Dia.</p>
<p><b>Art. 40. </b>Não se efetivando nas épocas devidas a eleição de sucessores, por motivo de força maior, os prazos dos mandatos dos membros dos órgãos de administração e fiscalização em exercício serão considerados automaticamente prorrogados, pelo tempo necessário, até que se efetive a sucessão, nunca além de 90 (noventa) dias.</p>
<p><b>Art. 41. </b>São inelegíveis, além das pessoas impedidas por lei, os condenados a pena que vede, ainda que temporariamente, o acesso a cargos públicos; ou por crime falimentar, prevaricação, peita ou suborno, concussão, peculato, ou contra a economia popular, a fé pública ou a propriedade.</p><br>
<h3 style="text-align: center">CAPÍTULO VI</h3>
<h4 style="text-align: center">DA ADMINISTRAÇÃO</h4><br>
<p><b>a) DIRETORIA</b></p><br>
<p><b>Art. 42. </b>A Diretoria é o órgão superior na hierarquia administrativa, sendo de sua competência privativa e exclusiva a responsabilidade pela decisão sobre todo e qualquer assunto de ordem econômica ou social, de interesse da Cooperativa ou de seus cooperados, nos termos da lei, deste Estatuto e das recomendações da Assembléia Geral.</p>
<p><b>Art. 43. </b>A Diretoria será composta por 03 membros, todos cooperados no gozo de seus direitos sociais, eleitos pela Assembléia Geral para um mandato de <%= @answears[11] %>, sendo obrigatória ao término de cada mandato, a renovação de, no mínimo, 1/3 (um terço) dos seus componentes.</p>
<p><b>Parágrafo único. </b>Não podem fazer parte da Diretoria, além dos inelegíveis enumerados no art. 41 deste Estatuto, os parentes entre si até 2º (segundo) grau em linha reta ou colateral, nem os que tenham exercido, nos últimos seis meses, cargo público eletivo.</p>
<p><b>Art. 44. </b>Os membros da Diretoria serão eleitos pela Assembléia Geral tomando posse automaticamente quando for divulgado o resultado pela referida Assembléia.</p>
<p><b>Parágrafo Único. </b>A Diretoria será composta de 3 membros sendo um presidente, um secretário e um tesoureiro.</p>
<p><b>Art. 45. </b>A Diretoria rege-se pelas seguintes normas:</p>
<p><b>a)</b>&emsp;reúne-se ordinariamente uma vez por mês, e extraordinariamente sempre que necessário, por convocação do Presidente, da maioria da própria Diretoria, ou, ainda, por solicitação do Conselho Fiscal;</p>
<p><b>b)</b>&emsp;delibera validamente com a presença da maioria dos seus membros, estando proibida a representação, sendo as decisões tomadas pela maioria simples de votos dos presentes, reservado ao Presidente o voto de desempate;</p>
<p><b>c)</b>&emsp;as deliberações serão consignadas em atas circunstanciadas lavradas em livro próprio, lidas, aprovadas e assinadas ao fim dos trabalhos pelos membros da Diretoria presentes. </p>
<p><b>Parágrafo único. </b>Perderá automaticamente o cargo o membro da Diretoria que, sem justificativa, faltar a 03 (três) reuniões ordinárias consecutivas ou a 06 (seis) reuniões durante o ano.</p>
<p><b>Art. 46. </b>Cabem à Diretoria, dentro dos limites da lei e deste Estatuto, as seguintes atribuições:</p>
<p><b>a)</b>&emsp;propor à Assembléia Geral as políticas e metas para orientação geral das atividades da Cooperativa, apresentando programas de trabalho e orçamento, além de sugerir as medidas a serem tomadas;</p>
<p><b>b)</b>&emsp;avaliar e providenciar o montante dos recursos financeiros e dos meios necessários ao atendimento das operações e serviços;</p>
<p><b>c)</b>&emsp;estimar previamente a rentabilidade das operações e serviços, bem como a sua viabilidade;</p>
<p><b>d)</b>&emsp;estabelecer normas para funcionamento da Cooperativa;</p>
<p><b>e)</b>&emsp;estabelecer sanções ou penalidades a serem aplicadas nos casos de violação ou abuso cometidos contra disposições de lei, deste Estatuto, ou das regras de relacionamento com a entidade que venham a ser estabelecidas;</p>
<p><b>f)</b>&emsp;deliberar sobre a admissão, eliminação e exclusão de cooperados e suas implicações, bem como sobre a aplicação ou elevação de multas;</p>
<p><b>g)</b>&emsp;estabelecer a Ordem do Dia das Assembléias Gerais, quando for o responsável pela sua convocação, considerando as propostas dos cooperados nos termos dos parágrafos 1º e 2º do art. 7º deste Estatuto Social;</p>
<p><b>h)</b>&emsp;estabelecer a estrutura operacional da administração executiva dos negócios, criando cargos, atribuindo funções, e fixando normas para a admissão e demissão dos empregados;</p>
<p><b>i)</b>&emsp;fixar as normas disciplinares;</p>
<p><b>j)</b>&emsp;julgar os recursos formulados pelos empregados contra decisões disciplinares;</p>
<p><b>k)</b>&emsp;avaliar a conveniência e fixar o limite de fiança ou seguro de fidelidade para os empregados que manipulam dinheiro ou valores da Cooperativa;</p>
<p><b>l)</b>&emsp;fixar as despesas de administração em orçamento anual que indique a fonte dos recursos para a sua cobertura;</p>
<p><b>m)</b>&emsp;contratar, quando se fizer necessário, um serviço independente de auditoria, conforme disposto no artigo 112, da Lei nº 5.764, de 16/12/1971;</p>
<p><b>n)</b>&emsp;indicar banco ou bancos nos quais serão feitos negócios e depósitos de numerário, e fixar limite máximo que poderá ser mantido no caixa da Cooperativa;</p>
<p><b>o)</b>&emsp;estabelecer as normas de controle das operações e serviços, verificando, no mínimo, mensalmente o estado econômico-financeiro da Cooperativa, bem como o desenvolvimento das operações e serviços, através de balancetes e demonstrativos específicos;</p>
<p><b>p)</b>&emsp;adquirir, alienar ou onerar bens imóveis da sociedade, com expressa autorização da Assembléia Geral;</p>
<p><b>q)</b>&emsp;contrair obrigações, transigir, adquirir, alienar e onerar bens móveis, ceder direitos e constituir mandatários;</p>
<p><b>r)</b>&emsp;fixar anualmente taxas destinadas a cobrir depreciação ou desgaste dos valores que compõem o ativo permanente da entidade;</p>
<p><b>s)</b>&emsp;zelar pelo cumprimento da legislação cooperativista e de outras aplicáveis, pelo atendimento da legislação trabalhista perante seus empregados, bem como da legislação fiscal.</p>
<p><b>§ 1º. </b>O Presidente da Cooperativa providenciará para que os demais membros da Diretoria recebam, com a antecedência mínima de 03 (três) dias, cópias dos balancetes e demonstrativos, planos e projetos e outros documentos sobre os quais tenham que se pronunciar, sendo-lhes facultado, ainda, anteriormente à reunião correspondente, inquirir empregados ou cooperados, pesquisar documentos, a fim de dirimir as dúvidas eventualmente existentes.</p>
<p><b>§ 2º. </b>A Diretoria solicitará, sempre que julgar conveniente, o assessoramento de quaisquer funcionários graduados para auxiliá lo no esclarecimento dos assuntos a decidir, podendo determinar que qualquer deles apresente, previamente, projetos sobre questões específicas.</p>
<p><b>§ 3º. </b>As normas estabelecidas pela Diretoria serão baixadas em forma de Resoluções, Regulamentos ou Instruções.</p>
<p><b>Art. 47. </b>Ao Presidente competem, dentre outros, os seguintes poderes e atribuições:</p>
<p><b>a)</b>&emsp;adirigir e supervisionar todas as atividades da Cooperativa;</p>
<p><b>b)</b>&emsp;baixar os atos de execução das decisões da Diretoria;</p>
<p><b>c)</b>&emsp;assinar, juntamente com o tesoureiro, cheques, contratos e demais documentos constitutivos de obrigações;</p>
<p><b>d)</b>&emsp;convocar e presidir as reuniões da Diretoria, bem como as Assembléias Gerais dos cooperados;</p>
<p><b>e)</b>&emsp;apresentar à assembléia Geral Ordinária:</p>
<p><b>&emsp;&emsp;I. </b>Relatório da Gestão;</p>
<p><b>&emsp;&emsp;II. </b>Balanço Geral;</p>
<p><b>&emsp;&emsp;III. </b>Demonstrativo das Sobras apuradas ou das Perdas verificadas no exercício e o Parecer do Conselho Fiscal.</p>
<p><b>f)</b>&emsp;representar ativa e passivamente a Cooperativa, em juízo e fora dele;</p>
<p><b>g)</b>&emsp;representar os cooperados, como solidário com os financiamentos efetuados por intermédio da Cooperativa, realizados nas limitações da lei e deste Estatuto;</p>
<p><b>h)</b>&emsp;elaborar o plano anual de atividades da Cooperativa;</p>
<p><b>i)</b>&emsp;verificar periodicamente o saldo de caixa;</p>
<p><b>j)</b>&emsp;acompanhar, juntamente com a Administração Financeira, as finanças da Cooperativa.</p>
<p><b>Art. 48. </b>Compete ao Secretário, entre outras, as seguintes atribuições:</p>
<p><b>a)</b>&emsp;secretariar os trabalhos e orientar a lavratura das atas das reuniões da Diretoria e da Assembléia Geral, responsabilizando-se pela guarda de livros, documentos e arquivos pertinentes;</p>
<p><b>b)</b>&emsp;interessar-se permanentemente pelo trabalho do Presidente.</p>
<p><b>Art. 49. </b>Compete ao Tesoureiro as seguinte funções:</p>
<p><b>a)</b>&emsp;superintender todos os serviços de Tesouraria;</p>
<p><b>b)</b>&emsp;organizar a escrituração contábil e financeira da Cooperativa, elaborando o Plano de Contas;</p>
<p><b>c)</b>&emsp;assinar com o presidente, o balanço e a demonstração das contas de Receita e Despesa, com os balancetes mensais;</p>
<p><b>d)</b>&emsp;prestar informações verbais ou escritas à Diretoria e ao Conselho Fiscal sobre o estado financeiro da cooperativa e permitir-lhe o livre exame dos livros e haveres;</p>
<p><b>e)</b>&emsp;apresentar os balanços e balancetes mensais à Diretoria e ao Conselho Fiscal para apreciação;</p>
<p><b>f)</b>&emsp;guardar sob sua responsabilidade os valores e títulos de qualquer natureza pertencentes à cooperativa e responder por eles;</p>
<p><b>g)</b>&emsp;desempenhar outras atividades compatíveis e as que lhe forem atribuídas pelo Presidente;</p>
<p><b>h)</b>&emsp;assinar cheques ou outros documentos juntamente com o Presidente ou com o Secretário, no caso de impedimento de qualquer natureza do Presidente.</p>
<p><b>Art. 50. </b>Os administradores, eleitos ou contratados, não serão pessoalmente responsáveis pelas obrigações que contraírem em nome da Cooperativa, mas responderão solidariamente pelos prejuízos resultantes de desídia e omissão ou se agiram com culpa, dolo ou má fé.</p>
<p><b>§ 1º. </b>A Cooperativa responderá pelos atos a que se refere este artigo, se os houver ratificado ou deles logrado proveito.</p>
<p><b>§ 2º. </b>Os que participarem de ato ou operação social em que se oculte a natureza da sociedade, podem ser declarados pessoalmente responsáveis pelas obrigações em nome dela contraídas, sem prejuízo das sanções penais cabíveis.</p>
<p><b>§ 3º. </b>O membro da Diretoria que em qualquer momento referente a essa operação, tiver interesse oposto ao da Cooperativa, não poderá participar das deliberações relacionadas com essa operação, cumprindo-lhe declarar seu impedimento.</p>
<p><b>§ 4º. </b>Os componentes da Diretoria, do Conselho Fiscal ou outros, assim como os liquidantes, equiparam-se aos administradores das sociedades anônimas para efeito de responsabilidade criminal.</p>
<p><b>§ 5º. </b>Sem prejuízo da ação que possa caber a qualquer cooperado, a Cooperativa, por seus dirigentes, ou representada por cooperados escolhidos em Assembléia Geral, terá direito de ação contra os administradores, para promover a sua responsabilidade.</p>
<p><b>Art. 51. </b>Poderá a Diretoria criar comitês especiais, transitórios ou não, para estudar, planejar e coordenar a solução de questões específicas, relativas ao funcionamento da Cooperativa.</p><br>
<h3 style="text-align: center">CAPÍTULO VII</h3>
<h4 style="text-align: center">DO CONSELHO FISCAL</h4><br>
<p><b>Art. 52. </b>Os negócios e atividades da Cooperativa serão fiscalizados assídua e minuciosamente por um Conselho Fiscal, constituído de 03 (três) membros efetivos e 03 (três) suplentes, todos cooperados, eleitos anualmente pela Assembléia Geral, sendo permitida a reeleição de apenas 1/3 (um terço) dos seus componentes.</p>
<p><b>§ 1º. </b>Para concorrer ao cargo de Conselheiro Fiscal, o associado deverá estar em pleno gozo de seus direitos e deveres, de acordo com os requisitos legais e estatutários.</p>
<p><b>§ 2º. </b>Os cooperados não podem exercer cumulativamente cargos na Diretoria e Conselho Fiscal.</p>
<p><b>§ 3º. </b>Não podem fazer parte do Conselho Fiscal, além dos inelegíveis enumerados no art. 41 deste Estatuto, os parentes dos Diretores até 2° (segundo) grau, em linha reta ou colateral, bem como os parentes entre si até este grau.</p>
<p><b>Art. 53. </b>Na primeira reunião do Conselho Fiscal de cada ano civil deverá ser eleito, dentre seus membros, um Presidente incumbido de convocar e dirigir as reuniões e um secretário para a lavratura de atas deste Conselho Fiscal, os quais exercerão o mandato até a próxima Assembléia Geral. </p>
<p><b>Parágrafo Único. </b>O Presidente do Conselho Fiscal deverá ser substituído, em suas faltas ou impedimentos, pelo Conselheiro Fiscal que venha a ser escolhido pelos seus pares.</p>
<p><b>Art. 54. </b>O membro do Conselho Fiscal que, por motivo justificado não puder comparecer à sessão, deverá comunicar o fato ao Presidente, com antecedência mínima de 72 (setenta e duas) horas, para efeito de convocação do respectivo suplente.</p>
<p><b>§ 1º. </b>A comunicação deverá ser dispensada quando o suplente, devidamente notificado pelo membro efetivo, comparecer à sessão.</p>
<p><b>§ 2º. </b>Quando a comunicação não ocorrer nos moldes do caput deste artigo, o Conselheiro Fiscal terá 10 (dez) dias, a contar da data em que sua ausência foi registrada, para se justificar, mediante exposição em reunião, ou em expediente do interessado ao Presidente do Conselho Fiscal.</p>
<p><b>§ 3º. </b>O Conselheiro Fiscal que faltar, não poderá fazer jus ao recebimento de cédula de presença, instituída em Assembléia Geral, mesmo que a ausência seja justificada.</p>
<p><b>Art. 55. </b>Deverá perder o mandato o membro que faltar, injustificadamente, a 03 (três) reuniões consecutivas ou a 06 (seis) alternadas, durante o ano civil.</p>
<p><b>Art. 56. </b>No caso da vacância da função de membro efetivo do Conselho Fiscal, o respectivo suplente assumirá automaticamente o lugar do titular.</p>
<p><b>Art. 57. </b>No caso de ocorrerem três ou mais vagas no Conselho Fiscal, deverá haver imediata comunicação à Diretoria da Cooperativa, para as providências de convocação de Assembléia Geral para o devido preenchimento das vagas.</p>
<p><b>Art. 58. </b>O Conselho Fiscal reúne-se, ordinariamente, uma vez por mês e, extraordinariamente, sempre que necessário, com a participação de 03 (três) dos seus membros.</p>
<p><b>§ 1º. </b>As reuniões do Conselho Fiscal poderão ser convocadas, ainda, por qualquer de seus membros, por solicitação da Diretoria ou da Assembléia Geral.</p>
<p><b>§ 2º. </b>Na ausência do Presidente será escolhido um substituto, na ocasião, para dirigir os trabalhos.</p>
<p><b>§ 3º. </b>As deliberações serão tomadas por maioria simples de votos e constarão de ata, lavrada em livro próprio, lida, aprovada e assinada ao final dos trabalhos de cada reunião, por 03 (três) membros do Conselho Fiscal presentes, indicados pela Assembléia Geral.</p>
<p><b>Art. 59. </b>Compete ao Conselho Fiscal exercer assídua fiscalização sobre as operações, atividades e serviços da Cooperativa, examinando livros, contas e documentos, cabendo-lhe entre outras, as seguintes atribuições:</p>
<p><b>a)</b>&emsp;elaborar o seu Regimento Interno, caso seus membros julguem necessário;</p>
<p><b>b)</b>&emsp;conferir, mensalmente, o saldo do numerário existente em caixa, verificando, inclusive, se o mesmo está dentro dos limites estabelecidos pela Diretoria;</p>
<p><b>c)</b>&emsp;verificar se os extratos de contas bancárias conferem com a escrituração da Cooperativa;</p>
<p><b>d)</b>&emsp;examinar se o montante das despesas e inversões realizadas estão de conformidade com os planos e decisões da Diretoria;</p>
<p><b>e)</b>&emsp;verificar se as operações realizadas e serviços prestados correspondem em volume, qualidade e valor às conveniências econômico-financeiras da Cooperativa;</p>
<p><b>f)</b>&emsp;examinar e emitir pareceres sobre o balanço geral e demais demonstrações financeiras;</p>
<p><b>g)</b>&emsp;examinar e emitir pareceres sobre as propostas de orçamentos anuais e plurianuais, o balanço geral e demais demonstrações financeiras;</p>
<p><b>h)</b>&emsp;propor o estabelecimento de rotinas e prazos de apresentação de balancetes, balanços, demonstrativos financeiros e prestação de contas;</p>
<p><b>i)</b>&emsp;recomendar à Diretoria da cooperativa o aprimoramento e correções necessárias ao bom desempenho nos setores contábil, financeiro e orçamentário;</p>
<p><b>j)</b>&emsp;verificar se a cooperativa estabelece privilégios financeiros a detentores de cargos eletivos, funcionários e terceiros;</p>
<p><b>k)</b>&emsp;verificar se os associados estão regularizando os compromissos assumidos na cooperativa nos prazos convencionados;</p>
<p><b>l)</b>&emsp;averiguar se existem reclamações dos cooperados quanto aos serviços prestados;</p>
<p><b>m)</b>&emsp;certificar-se se a Diretoria  se reúne regularmente, e se existem cargos vagos na sua composição;</p>
<p><b>n)</b>&emsp;inteirar-se se o recebimento dos créditos é feito com regularidade e se os compromissos sociais são atendidos com pontualidade;</p>
<p><b>o)</b>&emsp;averiguar se há problemas com empregados;</p>
<p><b>p)</b>&emsp;certificar-se se há exigências ou deveres a cumprir junto a autoridades fiscais, trabalhistas ou administrativas, e, inclusive, quanto aos órgãos do cooperativismo;</p>
<p><b>q)</b>&emsp;averiguar se os estoques de materiais, equipamentos e outros estão corretos, bem como se os inventários periódicos ou anuais são feitos com observância das regras próprias;</p>
<p><b>r)</b>&emsp;examinar os balancetes e outros demonstrativos mensais, o balanço e o relatório anual da Diretoria, emitindo Parecer sobre estes para a Assembléia Geral;</p>
<p><b>s)</b>&emsp;dar conhecimento à Diretoria das conclusões dos seus trabalhos, denunciando àquele órgão e à Assembléia Geral as irregularidades constatadas, convocando Assembléia Geral;</p>
<p><b>t)</b>&emsp;convocar Assembléia Geral;</p>
<p><b>§ 1º. </b>Para o desempenho de suas funções, terá o Conselho Fiscal acesso a quaisquer livros, contas e documentos, a empregados, a cooperados e outros, independente de autorização prévia da Diretoria. </p>
<p><b>§ 2º. </b>O Conselho Fiscal, quando necessário, poderá requerer assessoramente técnico especializado, cuja autorização e contratação caberá ao Conselho de Administração. Em caso de negativa, poderá a solicitação ser encaminhada a deliberação da Assembleia Geral.</p><br>
<h3 style="text-align: center">CAPÍTULO VIII</h3>
<h4 style="text-align: center">DOS LIVROS E DA CONTABILIDADE</h4><br>
<p><b>Art. 60. </b>A Cooperativa deverá, além de outros, ter os seguintes livros:</p>
<p><b>a)</b>&emsp;com termos de abertura e encerramento subscritos pelo Presidente:</p>
<p><b>&emsp;&emsp;I. </b>matrícula;</p>
<p><b>&emsp;&emsp;II. </b>presença de cooperados nas Assembléias Gerais;</p>
<p><b>&emsp;&emsp;III. </b>atas das Assembléias;</p>
<p><b>&emsp;&emsp;IV. </b>atas da Diretoria;</p>
<p><b>&emsp;&emsp;V. </b>atas do Conselho Fiscal.</p>
<p><b>b)</b>&emsp;autenticados pela autoridade competente:</p>
<p><b>&emsp;&emsp;I. </b>livros fiscais;</p>
<p><b>&emsp;&emsp;II. </b>livros contábeis.</p>
<p><b>Parágrafo único. </b>É facultada a adoção de livros de folhas soltas ou fichas, devidamente numeradas.</p>
<p><b>Art. 61. </b>No Livro de Matrícula os cooperados serão inscritos por ordem cronológica de admissão dele constando:</p>
<p><b>a)</b>&emsp;o nome, idade, estado civil, nacionalidade, profissão e residência dos cooperados;</p>
<p><b>b)</b>&emsp;a data de sua admissão, e quando for o caso, de sua demissão, eliminação ou exclusão;</p>
<p><b>c)</b>&emsp;a conta corrente das respectivas quotas parte do capital social;</p>
<p><b>d)</b>&emsp;assinatura de duas testemunhas.</p><br>
<h3 style="text-align: center">CAPÍTULO IX</h3>
<h4 style="text-align: center">DO BALANÇO GERAL, DESPESAS, SOBRAS, PERDAS E FUNDOS</h4><br>
<p><b>Art. 62. </b>A apuração dos resultados do exercício social e o levantamento do balanço geral serão realizados no dia 31 (trinta e um) de dezembro de cada ano.</p>
<p><b>Art. 63. </b>Os resultados serão apurados segundo a natureza das operações ou serviços, pelo confronto das respectivas receitas com as despesas diretas e indiretas.</p>
<p><b>§ 1º. </b>As despesas administrativas serão rateadas na proporção das operações, sendo os respectivos montantes computados nas apurações referidas neste artigo.</p>
<p><b>§ 2º. </b>As sobras líquidas nos termos deste artigo, serão distribuídos da seguinte forma:</p>
<p><b>a)</b>&emsp;10% (dez por cento) ao Fundo de Reserva;</p>
<p><b>b)</b>&emsp;5% (cinco por cento) ao Fundo de Assistência Técnica, Educacional e Social – FATES;</p>
<p><b>§ 3º. </b>As sobras líquidas apuradas no exercício, depois de deduzidas as taxas nas alíneas “a” e “b” do parágrafo 2º deste artigo, serão devolvidas aos cooperados, proporcionalmente às operações realizadas com a Cooperativa, salvo deliberação contrária em Assembléia Geral.</p>
<p><b>§ 4º. </b>Além do Fundo de Reserva e FATES, a Assembléia poderá criar outros fundos, inclusive rotativos, com recursos destinados a fins específicos, fixando o modo de formação aplicação e liquidação.</p>
<p><b>§ 5º. </b>Os resultados negativos serão rateados entre os cooperados, na proporção das operações de cada um realizadas com a Cooperativa, se o Fundo de Reserva não for suficiente para cobri-los.</p>
<p><b>Art. 64. </b>O Fundo de Reserva destina-se a reparar as perdas do exercício e atender ao desenvolvimento das atividades, revertendo em seu favor, além da taxa de 10% (dez por cento) das sobras:</p>
<p><b>a)</b>&emsp;os créditos não reclamados pelos cooperados, decorridos 05 (cinco) anos; </p>
<p><b>b)</b>&emsp;os auxílios e doações sem destinação especial.</p>
<p><b>Art. 65. </b>O Fundo de Assistência Técnica, Educacional e Social - FATES, destina-se à prestação de serviços aos cooperados e seus familiares, assim como aos empregados da própria Cooperativa, podendo ser prestados mediante convênio com entidades especializadas.</p>
<p><b>§ 1º. </b>Ficando sem utilização mais de 50% (cinqüenta por cento) dos recursos anuais deste Fundo, durante dois anos consecutivos, será procedida a revisão dos planos de aplicação, devendo a Assembléia Geral seguinte ser informada e fazer as recomendações necessárias ao cumprimento das finalidades objetivadas.</p>
<p><b>§ 2º. </b>Revertem em favor do FATES, além da percentagem referida na alínea “b” do § 2º do art. 63, as rendas eventuais de qualquer natureza, resultantes de operações ou atividades nas quais os cooperados não tenham tido intervenção.</p>
<p><b>§ 3º. </b>Os Fundos de Reserva e de Assistência Técnica, Educacional e Social, são indivisíveis.</p><br>
<h3 style="text-align: center">CAPÍTULO X</h3>
<h4 style="text-align: center">DA DISSOLUÇÃO E LIQUIDAÇÃO</h4><br>
<p><b>Art. 66. </b>A Cooperativa se dissolverá de pleno direito:</p>
<p><b>a)</b>&emsp;quando assim deliberar a Assembléia Geral, desde que os cooperados, totalizando o número mínimo de 20 (vinte) dos cooperados não se disponham a assegurar a continuidade da Cooperativa;</p>
<p><b>b)</b>&emsp;devido à alteração de sua forma jurídica; </p>
<p><b>c)</b>&emsp;pela redução do número de cooperados a menos de vinte ou do capital social em patamar inferior ao mínimo, se até a Assembléia Geral subseqüente, realizada em prazo não inferior a 6 (seis) meses, esses quantitativos não forem restabelecidos; </p>
<p><b>d)</b>&emsp;pela paralisação de suas atividades por mais de 120 (cento e vinte) dias.</p>
<p><b>Art. 67. </b>Quando a dissolução for deliberada pela Assembléia Geral, esta nomeará um ou mais liquidantes, e um Conselho Fiscal composto por 03 (três) membros para proceder à liquidação.</p>
<p><b>§ 1º. </b>A Assembléia Geral, nos limites de suas atribuições, pode, em qualquer época, destituir os liquidantes e os membros do Conselho Fiscal, designando seus substitutos;</p>
<p><b>§ 2º. </b>O liquidante deve proceder à liquidação de conformidade com os dispositivos da Legislação Cooperativista.</p>
<p><b>Art. 68. </b>Quando a dissolução da Cooperativa não for promovida voluntariamente, nas hipóteses previstas no art. 66, essa medida poderá ser tomada judicialmente.</p><br>
<h3 style="text-align: center">CAPÍTULO XI</h3>
<h4 style="text-align: center">DAS DISPOSIÇÕES GERAIS E TRANSITÓRIAS</h4><br>
<p><b>Art. 69. </b>Os casos omissos serão resolvidos pela Assembléia Geral desta Cooperativa de acordo com os princípios doutrinários e legais.</p><br>
<p><%= @answears[12] if @answears[12] %></p>

<div style="width: 33%; display: inline-block; margin-top: 60px">
    <p style="text-align: center"><i>Assinatura do Cooperado</i></p>
</div>
<div style="width: 33%; display: inline-block; margin-top: 40px"></div>
<div style="width: 33%; display: inline-block; margin-top: 60px">
    <p style="text-align: center"><i>Rubrica do Cooperado</i></p>
</div>

<% @people.each do |p| %>
    <div style="width: 33%; display: inline-block; border-top: 1px solid black; margin-top: 60px">
        <p style="text-align: center"><%= p.person %></p>
    </div>
    <div style="width: 33%; display: inline-block; margin-top: 40px"></div>
    <div style="width: 33%; display: inline-block; border-top: 1px solid black; margin-top: 60px">
        <p style="text-align: center"><%= p.person %></p>
    </div>
<% end if @people %>

